.page-links {
    width: 1170px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.photo-profile {
    width: 96px;
    height: 96px;
    border-radius: 100px;
    margin: 50px 0;
}

.all-links {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-link {
    width: 100%;
    height: 3.5em;
    background: #00AFEB;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 15px;
    border: none;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.personal-link:hover {
    color: #0D0826;
    border: 2px solid #0D0826;
    background: transparent;
}