/* GLOBAL STYLE THIS PAGE */
.page-config {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-page-config {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box-link-config {
    display: flex;
    width: 800px;
    height: auto;
}

.config-my-link {
    width: 70%;
    height: 3.5em;
    background: #00AFEB;
    color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.editar-link {
    width: 15%;
    height: 3.5em;
    background: #01a80a;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.excluir-link {
    width: 15%;
    height: 3.5em;
    background: #ff0000;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
}