header {
    width: 100%;
    height: 4em;
    background-image: linear-gradient(to bottom right, #174D93, #06A9EC);
}

header ul {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

header ul li {
    list-style: none;
    margin-top: 20px;
}

header ul li a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 30px;
    font-size: 18px;
}