.dashboard {
    margin: 0 auto;
    width: 1170px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.dashboard h1 {
    font-size: 30px;
    color: #00AFEB;
    margin-top: 100px;
}

.form-add {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-add-fields {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-add {
    width: 100%;
    height: 3em;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 50px;
    padding-left: 10px;
    border: 1px solid #00AFEB;
    color: #00AFEB;
}

.error-add {
    color: red;
    font-size: 16px;
    margin-bottom: 30px;
    margin: 0;
    padding: 0;
}

.add-link {
    width: 100%;
    height: 3em;
    font-size: 18px;
    background: #00AFEB;
    color: #0D0826;
    font-family: 'Montserrat';
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 50px;
}

.add-link:hover {
    opacity: 0.7;
}

.content {
    width: 800px;
    height: auto;
    margin-top: 50px;
}

.content p {
    font-size: 18px;
    color: #00AFEB;
}

.btn-sair {
    width: 800px;
    margin-top: 30px;
}

.out-apication {
    color: red;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}