/* STYLE TO FORM EDIT FIELDS */
.baclground-form-edit {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-edit {
    width: 400px;
    height: auto;
    background: #0D0826;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-edit h4 {
    color: #174D93;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 27px;
}

.input-edit-group {
    width: 90%;
}

.label-edit {
    font-size: 18px;
    color: #174D93;
    margin-bottom: 20px;
    font-weight: bold;
}

.input-edit {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 4px;
    background: #45527C;
    padding-left: 10px;
    font-family: 'Montserrat';
    margin-bottom: 30px;
    font-size: 18px;
    color: #00AFEB;
}

.btn-save-edit {
    width: 90%;
    height: 3em;
    font-size: 18px;
    background: #0dc41c;
    color: #0D0826;
    font-family: 'Montserrat';
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 30px;
}

.btn-save-edit:hover {
    opacity: 0.7;
}